@import "theme-variables";

// Improve navbar-brand
.navbar-brand{
  margin-top: 0;
  font-weight: $font-weight-400;

  a{
    color: #333;
  }
}


// Use same background color for btn primary than for data-panels header
.btn-primary:hover{
  border-color: $brand-primary;
  background-color: $brand-primary;
}


// Add home options border color
.home-content .options .option > div{
  border-color: $brand-secondary;
}


// Use same background color for social sharing than for data-panels header
.social-sharing-toolbox li a{
  background-color: $data-panel-color;
}

.form-search .form-inline .form-control{
  border-color: $data-panel-color;
}

.form-search-glossary .btn-primary{
  border-color: $btn-primary-border;
  background-color: $btn-primary-bg;

  &:hover{
    border-color: $brand-primary;
    background-color: $brand-primary;
  }
}

#payments-search .btn-primary{
  border-color: $table-color;
  background-color: $table-color;

  &:hover{
    border-color: $brand-primary;
    background-color: $brand-primary;
  }
}