.navbar-brand{
  font-size: 2.5em;
}

.navbar-default .navbar-nav{

  [class*="icon-"]:before{
    display: none;
  }

  > li > a{
    text-transform: uppercase;
    font-weight: $font-weight-400;

    &:hover{
      color: $brand-primary;
    }

    &.icon-home{
      text-indent: -9999px;
      background-image: url(../assets/home-icon.png);
      background-repeat: no-repeat;
      background-position: center center;

      &:hover{
        background-image: url(../assets/home-icon-blue.png);
      }
    }
  }

  @media (min-width: $grid-float-breakpoint) {

    > li{
      width: 95% / $dvmi-menu-length;

      &.page-home{
        width: 5%;
      }
    }
  }
}

.nav-tabs > li > a{
  font-size: 1em;

  > h3{
    color: $brand-primary;
    text-transform: uppercase;   
    font-weight: $font-weight-400;
  }
}

.panel-downloads{
  background: $brand-secondary;
  border-color: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $brand-terciary;
    }
  }
}

.home-content .options .option > div .icon,
.budget-intro .budget-step h3 span{
  color: mix( #F4A901, white, 75% );
}

.policies-chart{
  background: none;
}

.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

.form-search-glossary .btn-primary{
  background: $brand-primary;
  border-color: $brand-primary;
}
.glossary-terms h3:before, 
.glossary-terms h4:before{
  color: $brand-primary;
}

#query-panel .panel{
  background: $brand-secondary;
}

.search-content .panel .panel-heading{
  background: $brand-primary;

  h3{
    color: white;
  }
}

// Tax Receipt
.tax-receipt-content .form-user-incomings{
  padding-top: $grid-gutter-width;

  h3{
    color: $brand-primary;
    padding-bottom: $grid-gutter-width/2;
  }
}

@media (min-width: $screen-sm-min) {
  .tax-receipt-content .form-user-incomings .form-group.form-group-half-width{
    width: 25%;
  }
}