@import "theme-variables";

// Improve navbar-brand
.navbar-brand{
  margin-top: 0;
  font-weight: $font-weight-400;

  a{
    color: #333;
  }
}


// Use same background color for btn primary than for data-panels header
.btn-primary:hover{
  border-color: $brand-primary;
  background-color: $brand-primary;
}


// Add home options border color
.home-content .options .option > div{
  border-color: $brand-secondary;
}


// Use same background color for social sharing than for data-panels header
.social-sharing-toolbox li a{
  background-color: $panel-default-heading-bg;
}

.form-search .form-inline .form-control{
  border-color: $panel-default-border;
}

.form-search-glossary .btn-primary{
  border-color: $btn-primary-border;
  background-color: $btn-primary-bg;

  &:hover{
    border-color: $brand-primary;
    background-color: $brand-primary;
  }
}

// Payments search form
#payments-search{
  .btn-primary{
    border-color: $panel-default-heading-bg;
    background-color: $panel-default-heading-bg;

    &:hover{
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }

  #btn-reset-form{
    border-color: $brand-secondary;
    background: $brand-secondary;

    &:hover{
      color: #fff;
      border-color: $brand-primary;
      background-color: $brand-primary;
    }
  }
}

// Make Budget Summary height bigger
.budget-summary{
  height: 52px;
}
.budget-summary-item .budget-summary-bar{
  height: 32px;
  line-height: 32px
}

// Income alerts on budget summary
.alert-incomes{
  padding-top: 0;
  margin: 0;
  font-weight: 600;
  font-size: 1.125em;
  text-align: center;
}
