<form class="form-user-incomings" action="#" method="get">

  <div class="row">
    <div class="form-group"> 
      <label for="select-family">{{ _('Unidad familiar') }}</label>
      <select id="select-family" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Familia normal') }}</option>
        <option value="1" type="text">{{ _('Familia numerosa') }}</option>
        <option value="2" type="text">{{ _('Pensionistas') }}</option>
      </select>
    </div>
  </div>

  <h3>{{ _('Impuestos') }}</h3>

  <div class="row">
    <div class="form-group form-group-half-width">
      <label for="select-house">{{ _('Zona Inmueble') }}</label>
      <select id="select-house" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Los Cristianos-Las Américas') }}</option>
        <option value="1" type="text">{{ _('Galletas, Costa Silencio, Fraile, Guaza...') }}</option>
        <option value="2" type="text">{{ _('Arona, Valle San Lorenzo, Cabo Blanco, Buzanada, Camella..') }}</option>
      </select>
    </div>
    <div class="form-group form-group-half-width">
      <label for="select-house-surface">{{ _('Superficie Inmueble') }}</label>
      <div class="input-group">
        <input id="select-house-surface" type="number" min="0" step="any" value="100" class="form-control">
        <div class="input-group-addon">m<sup>2</sup></div>
      </div>
    </div>
    <div class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></div>
  </div>
    
  <div class="row">
    <div class="form-group">
      <label for="select-vehicle">{{ _('Vehículo') }}</label>
      <select id="select-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="2" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche mediano (entre 12 y 20 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></div>
  </div>
    
  <div class="row">
    <div class="form-group">
      <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
      <select id="select-extra-vehicle" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
        <option value="1" type="text">{{ _('Coche muy pequeño (menos de 8 caballos fiscales)') }}</option>
        <option value="2" type="text">{{ _('Coche pequeño (entre 8 y 12 caballos fiscales)') }}</option>
        <option value="3" type="text">{{ _('Coche mediano (entre 12 y 20 caballos fiscales)') }}</option>
        <option value="4" type="text">{{ _('Coche muy grande (más de 20 caballos fiscales)') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></div>
  </div>
    
  
  <h3>{{ _('Tasas') }}</h3>

  <div class="row">
    <div class="form-group"> 
      <label for="select-garbage">{{ _('Tipo de inmueble') }}</label>
      <select id="select-garbage" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('Vivienda') }}</option>
        <option value="1" type="text">{{ _('Estudio') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa de basuras') }}: <span id="select-garbage-tax"></span></div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
      <select id="select-parking" class="form-control">
        <option value="0" type="text" selected="selected">{{ _('No') }}</option>
        <option value="1" type="text">{{ _('Sí') }}</option>
      </select>
    </div>
    <div class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></div>
  </div>

</form>

<p id="tax-amount">{{ _('Contribuyes con un total de <b id="tax-amount-paid"></b> a los presupuestos del Gobierno de Aragón')|safe }}.</p>
