<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // Set tax receipt taxes values
    TaxReceipt.taxes.house.callback = function(selector, values) {
      var value = $('#select-'+selector).val();
      // Permitir bonificación IBI por Familia numerosa sólo si el valor catastral es < 40000
      if (value >= 40000) {
        $('#select-house-bonus').val('0').parent().hide();
      } else {
        $('#select-house-bonus').parent().show();
      }
      var bonus = [0, 0.5, 0.5, 0.5, 0.6, 0.7, 0.8, 0.9][$('#select-house-bonus').val()];
      var bonus2 = [0, 0.5, 0.5, 0.4, 0.3, 0.2, 0.1][$('#select-house-bonus-2').val()];
      var bonusTotal = (bonus+bonus2 < 1) ? 1 - bonus - bonus2 : 0;
      return value * 0.0076 * bonusTotal;
    };

    TaxReceipt.taxes.vehicle.values      =
    TaxReceipt.taxes.vehicleExtra.values = [0, 18.59, 56.37, 119.67, 179.22, 224.00, 6.56, 8.84, 15.14, 30.30, 60.58, 121.16];
    TaxReceipt.taxes.garbage.values      = [112.50, 115.09, 109.86, 94.18];
    TaxReceipt.taxes.parking.values      = [0, 65.82, 87.76];

    // Delete garbage tax
    delete TaxReceipt.taxes.garbage;


    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };
    
    // Add scenarios
    TaxReceipt.addStatus('scenario-1', {
      'house':         69329,
      'house-bonus':   0,
      'house-bonus-2': 0,
      'vehicle':       2, 
      'extra-vehicle': 3, 
      'parking':       2,
    });
    TaxReceipt.addStatus('scenario-2', {
      'house':         33774.59,
      'house-bonus':   0,
      'house-bonus-2': 4,
      'vehicle':       2, 
      'extra-vehicle': 0,  
      'parking':       1,
    });
    TaxReceipt.addStatus('scenario-3', {
      'house':         27444.20,
      'house-bonus':   0,
      'house-bonus-2': 0,
      'vehicle':       3, 
      'extra-vehicle': 0, 
      'parking':       1,
    });
    TaxReceipt.addStatus('scenario-4', {
      'house':         39999.99,
      'house-bonus':   4,
      'house-bonus-2': 0,
      'vehicle':       4, 
      'extra-vehicle': 0, 
      'parking':       1,
    });
    TaxReceipt.addStatus('scenario-5', {
      'house':         49054.74,
      'house-bonus':   0,
      'house-bonus-2': 1,
      'vehicle':       3, 
      'extra-vehicle': 8, 
      'parking':       1,
    });

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );
  })
</script>